include "./config/input.kdl"
include "./config/monitor.kdl"
include "./config/window-layout.kdl"
include "./config/screenshot.kdl"
include "./config/startup.kdl"
include "./config/hotkey-overlay.kdl"
include "./config/window-rules.kdl"
include "./config/keybind.kdl"
include "./config/animations.kdl"
include "./noctalia.kdl"
