layout {

    focus-ring {
        active-color   "#b1c7f5"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b1c7f5"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b1c7f5"
        inactive-color "#21385e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b1c7f580"
    }
}
