layout {

    focus-ring {
        active-color   "#f1b2f0"
        inactive-color "#151409"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#f1b2f0"
        inactive-color "#151409"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#f1b2f0"
        inactive-color "#653469"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#f1b2f080"
    }
}
