environment {
  QT_QPA_PLATFORMTHEME "qt6ct"
  // QT_QPA_PLATFORMTHEME "kde"
  // XDG_CURRENT_DESKTOP "KDE"
  // KDE_FULL_SESSION "1"


  ELECTRON_OZONE_PLATFORM_HINT "auto"
  GTK_IM_MODULE "simple"
}